
<% if @books.any? %>
  <% @books.each do |book| %>
    <%= book.title %>
    Language: <%= book.language %>
    <%= book.isbn %>
    <%= book.sku %>
  <% end %>
<% else %>
  <h1>No books on this bookshelf</h1>
<% end %>

<h1><%= link_to "Add a book", new_book_path %></h1>

